@import './colors.scss';

html {
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li,
a,
image {
  line-height: 1.6;
  margin-top: 0;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $secondary-color;
}
a:hover {
  color: $secondary-light;
}
img {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}